<a asp-action="Index" asp-controller="Home" class="app-brand-link">
	<span class="app-brand-logo demo img-fluid text-center">
		<img src="/img/logo.logo.png" style="height:60px;width:160px;" class="img-fluid" />
	</span>

</a>