@model SalaryReportAttendanceVM

@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<form asp-action="AllReports" asp-controller="Salary" method="post" onsubmit="return validateDate()">
		<div id="exampleModal" class="modal" tabindex="-1" role="dialog" style="display: block;">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Select Month</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						@if (!ViewData.ModelState.IsValid)
						{
							<div class="alert alert-danger">
								@Html.ValidationSummary(false, "", new { @class = "text-danger" })
							</div>
						}
						<div class="form-group">
							<label>Month:</label>
							<div class="position-relative has-icon-right">
								<input name="targetDate" type="month" class="form-control" id="targetDate" />
								<div class="form-control-position">
									<i class="ft-message-square"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Search</button>
						<a asp-action="Index" asp-controller="Attendance" class="btn btn-secondary">
							Cancel
						</a>

					</div>
				</div>
			</div>
		</div>
	</form>
	<script>
		$(document).ready(function () {
			$('#exampleModal').modal('show');
		});


		function validateDate() {
			var inputDate = document.getElementById('targetDate').value;
			var year = parseInt(inputDate.substring(0, 4));
			var month = parseInt(inputDate.substring(5, 7));

			if (year < 2010 || (year === 2010 && month < 1)) {
				alert('Please select a date after January 2008.');
				return false; // Prevent form submission
			}

			return true; // Allow form submission
		}
	</script>
</body>
</html>

