@model HrProject.ViewModels.createArriveAttendenceViewModel

@{
    ViewData["Title"] = "Arrive";
    SelectList emps = new SelectList(Model.employees, "Id", "FirstName");
}

<h1>Arrive</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="createArrive">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group" style="width:300px">
                
            <select asp-for="Emp_Id" class ="form-control" asp-items="emps">
                 <option value="0" disabled>--Select Employee--</option>
            </select>
            </div>
         
       
            <div class="form-group">
                <input type="submit" value="Arrive" class="btn btn-primary" />
                
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
